<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ANXIAN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="newcollection">New Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ancientcollection">Ancient Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="about">About US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact US</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
<h1 style="text-align:center;">About US</h1><hr>
<p>
  Contact us pages. Everyone has them, needs them, but are you really paying attention to the strategy behind them?

It’s true isn’t it? One of the most valuable pages on your website is usually an afterthought. It’s one of those things that has to be there, but often enough, you throw the necessary information on and leave it at that. What a waste!

The page name itself is a call-to-action; Treat it with some respect.

Contact us pages are often the go-to for a new visitor on a mission. It’s where they go when they have a question and truly want to speak to an individual at your organization.

They exist to serve the user with the purpose of providing them with information on how they can get in touch with you.

The goal of every contact us page is to convert by clearly and effectively presenting the method(s) of getting in touch with a company as quickly as possible.

But what does that look like?
  Terry lives alone. His parents are dead. He does not have many friends. He does not have a girlfriend.

Terry is going on holiday. He saved money all year. He wants to have a wonderful vacation in Bali. He dreams of sun, adventure and romance.

He goes to a big discount store. He buys a suitcase with wheels and a handle. The suitcase is cheap, so the only choice of colour is black.

On Friday, Terry comes home from work. He packs his bag and suitcase. On Saturday, a taxi will come at 5am to take Terry to the airport.

Terry is very excited. He enjoys the flight very much, but when he arrives in Denpasar it is very late, and he is tired.

It is almost midnight, but it is still so hot! he thinks. He goes to the baggage claim area. Where is my bag?

He sees a black suitcase with wheels and a handle. That’s my bag. I can’t wait to get to my hotel. I can have a shower, and a long sleep.

Terry goes through customs and immigration, and finds the bus for his hotel. He checks into his hotel and goes to his room. It is very nice.

He puts his bag on the bed and opens it. Oh no! Terry is looking at a bag full of bikinis and sundresses and sandals! It’s not my bag! He looks at the luggage label. —M. Stanford—  I took the wrong bag! What can I do?

He closes the bag and hurries to the elevator. I must go downstairs. I must ask the man on the front desk what to do!

The elevator arrives. Terry hurries into the elevator carrying the black bag. There is a woman in the elevator. She looks very worried.

When the elevator stops on the ground floor, Terry and the woman walk to the front desk. Terry sees that the woman has a black suitcase. There are many bags that look like mine, he thinks. I was not careful at the airport. I didn’t check the luggage label.

At the front desk, Terry and the woman from the elevator start talking at the same time.

“I have the wrong bag,” they say.

“I took the wrong bag from the airport,” says Terry. “I am very sorry. What can I do?”

“I must go back to the airport to find my bag!” says the woman. “This is a man’s bag!”

The man on the front desk laughs.

“Two people with the same problem! What is your name, madam?”

“Mandy Stanford,” answers the woman.

Terry is excited. “I can solve your problem,” he says. “Here is your bag.”

“And your name, Sir?” asks the man at the front desk.

“Terry Wiggin.”

The woman starts to laugh. “I don’t believe it! You have my bag, and I have yours!”

Terry looks at the woman. She is about the same age as Terry. She is very attractive.

Suddenly Terry doesn’t feel tired or hot any more.

“It is a strange way to meet. But would you like to have a drink with me to celebrate,” he says to Mandy.
</p>
</div>
</body>
</html>